@import 'spec/settings/index';
@import 'spec/tools/index';
@import "~bootstrap/scss/bootstrap";
@import 'spec/index';
@import 'vendor/index';


a {
	color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #000;
  }

.c-black {
	color: #000000;
}

small {
    font-size: .65em;
    
}
.h-100vh {
	height: 100vh;
}

.accordion-button {
	display: unset !important;
}

.dataTables_length, .dataTables_info {
	display: none;
}

button {
	&:focus {
		box-shadow: unset !important;
		-webkit-box-shadow: unset !important;
	}
}

.buttons {
	a {
		text-transform: uppercase;
		font-size: 80%;
	}
}